@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.service-headerimage {
  background-image: url(../../../Backgrounds/servicepageheader.png);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  width: 100%;
  align-self: center;
}

.service-header {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

.service-text {
  font-family: "Open Sans";
  font-size: 30px;
}

.header-textbox {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.service-image {
  background-image: url(../../../Backgrounds/shopimage.png);
  width: 90%;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.machineinfo {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}
.machineinfotext {
  font-family: "Open Sans";
  font-size: 30px;
  width: 85%;
}

.machineinfobox {
  margin-top: 50px;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 75px;
}

.gridholder {
  max-width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1059px) {
  .service-headerimage {
    margin-top: 75px;
  }
  .service-header {
    font-size: 40px;
  }
  .machineinfo {
    font-size: 40px;
  }
  .service-text {
    font-size: 24px;
  }
  .machineinfotext {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .service-headerimage {
    margin-top: 50px;
  }
  .service-header {
    font-size: 30px;
  }
  .machineinfo {
    font-size: 30px;
  }
  .service-text {
    font-size: 18px;
  }
  .machineinfotext {
    font-size: 18px;
  }
}
