@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.sidedrawer {
  height: 100%;
  background: #020b56;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidedrawer.open {
  transform: translateX(0);
}

.sidedrawer ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.sidedrawer li {
  margin: 3px;
}

.sidedrawer a {
  color: white;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
}

.sidedrawer a:hover,
.sidedrawer a:active {
  color: grey;
}

@media (min-width: 1061px) {
  .sidedrawer {
    display: none;
  }
}
