@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.navbar {
  flex-direction: row;
  display: flex;
  background: #020b56;
  height: 100px;
  align-items: center;
}

.navbarline {
  width: 2px;
  height: 50px;
  background-color: white;
}

.navbarlist {
  list-style-type: none;
}

.navbaritems {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Fjalla One", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}
